<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pk_test_51RZWuLFqgJf8BUSdoryxDjdFufhgVt26W9WjKejT03KosljCtREbZ8Cgdfo00l0kL3sysjcwGo5HZXPPWCBhxpcI002I4FY6tU</key>
    <string>YOUR_STRIPE_PUBLISHABLE_KEY</string>
</dict>
</plist> 