<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.128203817842-ct3qbtlqskb7pbgvbh14gbj41nh032v5</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<false/>
	<key>UILaunchScreens</key>
	<dict>
		<key>UILaunchScreenDefinitions</key>
		<array>
			<dict>
				<key>UILaunchScreenIdentifier</key>
				<string></string>
				<key>UIImageName</key>
				<string></string>
			</dict>
		</array>
		<key>UIURLToLaunchScreenAssociations</key>
		<dict/>
		<key>UIDefaultLaunchScreen</key>
		<string></string>
	</dict>
</dict>
</plist>
